/* Bakgrundsbilden: https://unsplash.com/photos/Lks7vei-eAg */
/* Bildexempel på person #1: https://unsplash.com/photos/FN_6Zd81XMg */
/* Bildexempel på person #2: https://unsplash.com/photos/z7EJoGtNHDg */
/* Bildexempel på person #3: https://unsplash.com/photos/n2AwphOvMq8 */
/* Bildexempel på person #4: https://unsplash.com/photos/Deg_jGchsuA */

/* --------------------------- */
/* Generellt för hela hemsidan */
/* --------------------------- */

/* Allmän anpassning (primärt för text) */
* {
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

/* Bakgrunden */
body {
  background-image: url(images/background-about.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Allmän design */
.flex-frame {
  display: flex;
  background-color: #28242c;
  width: 35%;
  border-radius: 20px;
  padding: 1%;
  margin-left: 32.5%;
  margin-top: 2%;
  align-items: center;
}

/* --------------------------- */
/* Övre menyn och dess inehåll */
/* --------------------------- */

.top-bar {
  position: fixed;
  background-color: #28242c;
  top: 0%;
  left: 0%;
  width: 100%;
  transition: 0.3s;
}

.top-bar nav {
  display: flex;
  flex-direction: row;
  float: right;
}

.top-bar a {
  display: block;
  text-decoration: none;
  background-color: #201c1c;
  padding: 20px 30px;
  margin-right: 20px;
}

.top-bar a:hover {
  background-color: #383434;
}

/* ------------------------------- */
/* Specifikt för den översta rutan */
/* ------------------------------- */

.top-container {
  margin-top: 75px;
  width: 20%;
  margin-left: 40%;
}

/* -------- */
/* Rubriker */
/* -------- */

.header {
  justify-content: center;
  text-align: center;
}

/* ----------------------------- */
/* Personlistan och dess inehåll */
/* ----------------------------- */

/* Lista med personer */
.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Personrutor */
.flex-container {
  margin-left: 9.8%;
  flex-direction: column;
}

/* Bilder */
img {
  width: 40%;
  float: left;
  padding-right: 20px;
}

/* ------------------------------ */
/* Kontaktrutan och dess innehåll */
/* ------------------------------ */

/* Kontaktruta */
footer {
  display: flex;
  position: static;
  background-color: #28242c;
  margin: 0%;
  justify-content: center;
  align-items: center;
  margin: 2% -0.5% -0.5% -0.5%;
}

/* Inehåll i kontaktruta */
footer ul {
  list-style-type: none;
  padding: 0% 0% 2% 0%;
  text-align: center;
}

/* --------------------------------------------------------- */
/* Färger till länkarna som passar bättre med hemsidans tema */
/* --------------------------------------------------------- */

/* Standradfärg */
footer a {
  color: cornflowerblue;
}

/* Färg efter använding */
footer :visited {
  color: magenta;
}

/* ---------------------------- */
/* Anpassning till skärmstorlek */
/* ---------------------------- */

@media (max-width: 700px) {
  .top-container {
    width: 35%;
    margin-left: 32.5%;
  }
}

@media (max-width: 500px) {
  .top-bar a {
    padding: 20px 15px;
    margin-right: 10px;
  }

  .flex-frame {
    width: 70%;
    margin-left: 15%;
  }

  .flex-container {
    flex-direction: column;
  }
}
