/* Bakgrundsbilden: https://unsplash.com/photos/cVI8ViAhU04 */
/* Bilden till avsnitt #1: https://unsplash.com/photos/k1xf2D7jWUs */
/* Bilden till avsnitt #2: https://unsplash.com/photos/niUkImZcSP8 */

/* --------------------------- */
/* Generellt för hela hemsidan */
/* --------------------------- */

/* Allmän anpassning (primärt för text) */
* {
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

/* Bakgrunden */
body {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Standard för alla rutor */
.box-container {
  background-color: #28242c;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  padding: 1%;
  display: inline-block;
  border-radius: 20px;
}

/* Standard för alla bilder */
img {
  float: left;
  padding-right: 5%;
  width: 30%;
}

/* --------------------------- */
/* Övre menyn och dess inehåll */
/* --------------------------- */

/* Övre menyn */
.top-bar {
  position: fixed;
  background-color: #28242c;
  top: 0%;
  left: 0%;
  width: 100%;
  transition: 0.3s;
}

/* Alla länkar */
.top-bar a {
  text-decoration: none;
  display: block;
  background-color: black;
  transition: 0.3s ease;
}

/* När man hovrar över länkar */
.top-bar a:hover {
  background-color: #383434;
}

/* Stora skärmar */

/* Länklistan */
.top-bar nav {
  display: flex;
  flex-direction: row;
}

/* Länkknappar */
nav a {
  padding: 20px 30px;
  margin-right: 20px;
}

/* Små skärmar */

/* Menyknappen */
.top-dropdown img {
  width: 150px;
  height: 60px;
  padding: 13.5px 50px;
  text-align: center;
  float: left;
  cursor: pointer;
  background-color: #302c33;
}

/* Länkmenyns utseende */
.top-links {
  position: fixed;
  background-color: black;
  z-index: 1;
  display: none;
  margin-top: 60px;
}

/* Länkarnas i länkmenyn */
.top-links a {
  padding: 12px 16px;
}

/* Ändrar färgen på länkmeny-knappen när man hovrar över den eller länkmenyn.*/
.top-dropdown:hover img {
  background-color: #272a2e;
}

/* Visar länkmenyn när man hovrar över länkmeny-knappen. */
.top-dropdown:hover .top-links {
  display: block;
  width: 150px;
}

/* ------------------------------- */
/* Specifikt för den översta rutan */
/* ------------------------------- */

.top-container {
  margin-top: 70px;
  width: 20%;
  margin-left: 40%;
  justify-content: center;
  text-align: center;
}

/* ------------------------------------ */
/* Listan med avsnitt och dess innehåll */
/* ------------------------------------ */

/* Listan med avsnitt */
.episode-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Bilderna till avsnitten */
.episode-box img {
  width: 20%;
  padding-right: 2%;
}

/* Passande färg för uppspelarna */
audio::-webkit-media-controls-panel {
  background-color: #b8b4b4;
}

/* Passande storlek för uppspelarna */
audio {
  width: 40%;
}

/* ------------------------------ */
/* Kontaktrutan och dess innehåll */
/* ------------------------------ */

/* Kontaktruta */
footer {
  display: flex;
  position: static;
  background-color: #28242c;
  margin: 0%;
  justify-content: center;
  align-items: center;
  margin: 2% -8px -8px -8px;
}

/* Inehåll i kontaktruta */
footer ul {
  list-style-type: none;
  padding: 0% 0% 2% 0%;
  text-align: center;
}

/* --------------------------------------------------------- */
/* Färger till länkarna som passar bättre med hemsidans tema */
/* --------------------------------------------------------- */

/* Standradfärg */
footer a {
  color: cornflowerblue;
  transition: 0.5s ease;
}

footer a:hover {
  color: rgb(157, 183, 232);
  transition: 0.5s ease;
}

/* Färg efter använding */
footer :visited {
  color: rgb(231, 114, 231);
}

/* ---------------------------- */
/* Anpassning till skärmstorlek */
/* ---------------------------- */

@media (min-width: 700px) {
  .top-dropdown {
    display: none;
  }
}


@media (max-width: 700px) {
  .top-container {
    width: 35%;
    margin-left: 32.5%;
  }

  .box-container {
    padding: 3%;
  }

  .top-bar nav {
    display: none;
  }
}

@media (max-width: 500px) {
.top-bar a {
    padding: 20px 15px;
    margin-right: 10px;
  }

  audio {
    width: 100%;
  }

  .box-container h1 {
    text-align: center;
  }

  img {
    width: 100%;
    padding-bottom: 7px;
  }

  .episode-box img {
    width: 40%;
  }
}
